# auto-createdweb3==1.0.8
aiohttp==2.1.0
requests==1.1.1
web3==1.7.4
requests==1.7.5
eth-abi==1.7.5
eth-abi==0.7.8
eth-abi==2.5.8
web3==0.5.0
web3==2.4.7
pydantic==0.3.8
aiohttp==0.1.1
web3==0.5.2
web3==2.9.8
pydantic==0.6.0
pydantic==2.2.1
requests==1.8.8
pydantic==1.7.1
pydantic==2.4.9
pydantic==1.8.6
requests==2.7.1
web3==0.9.1
aiohttp==0.1.0
eth-abi==1.8.2
eth-abi==2.4.7
aiohttp==1.5.9
requests==0.4.9
eth-abi==2.7.8
pydantic==1.7.5
eth-abi==0.1.0
eth-abi==2.1.9
web3==2.3.9
web3==2.6.2
requests==0.7.7
pydantic==2.8.7
requests==2.4.6
web3==0.9.9
aiohttp==1.2.5
web3==2.0.7
aiohttp==0.1.9
